@import url('reset.css');

.background {
	width:790px;
	height:504px;
	margin-left:auto;
	margin-right:auto;
}

.left{
	width:150px;
	height:504px;
	float:left;
}

.center{
	width:490px;
	height:504px;
	float:left;
}

.right{
	width:150px;
	height:504px;
	float:left;
}